.header {
  position: absolute;
  font-size: 250%;
  left: 47.5%;
  top: 2%;
}

.teamALogo {
  position: absolute;
  width: 13%;
  height: auto;
  left: 45%;
  top: -9px;
}

.border {
  width: auto;
  height: 300px;
  border: 5px solid #2829288c;
  padding: 250px;
}
