.Team-B-Header {
  display: flex;
}
#Team-B-Title {
}
.Team-B-Search {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 12%;
}
#Team-B-Search {
  width: 1400px;
}
#Team-B-SearchButton {
  padding-right: 2%;
  margin-right: 60%;
}
#Team-B-UserName {
  position: absolute;
  margin-left: 65%;
  padding-top: -15px;
  padding-bottom: 0px;
  font-size: 26px;
  margin-top: -6px;
}
