.Team-B-ChatBox {
    width: 22%;
    height: 47%;
    border: 5px solid black;
    margin-left: 72.6%;
    margin-top: -370px;
    background-color: rgb(231, 230, 230);
}
.Team-B-ChatBox-Upper{

}
.Team-B-MessageBox{
    border: 1px solid;
    height: 88%;
    width: 100%;
}
.Team-B-TextBox{
    width: 97.3%;
    height: 5%;
}