.Team-B-ReviewsPage {
  height: 950px;
  width: 98%;
  margin-top: 15px;
  margin-left: 10px;
  border: 3px solid #2829288c;
  overflow: auto;
}

.Team-B-Reviews {
  border: 3px solid #2829288c;
  height: 99px;
  margin-top: 12px;
  margin-left: 1px;
  width: 98%;
}
